#Backend
fastapi==0.115.6
uvicorn[standard]==0.32.1
python-dotenv==1.0.1

#Database
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
alembic==1.14.0
pgvector==0.3.6

#Authentication
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.3.0
python-multipart==0.0.17

# AI
groq==0.13.1
pypdf2==3.0.1
pymupdf==1.25.1
sentence-transformers==3.3.1
google-generativeai==0.8.3
mcp==1.1.2
slowapi==0.1.9

# Scripts / bulk testing
pandas==2.2.3
requests==2.32.3
fpdf2==2.8.2
